{% extends 'baseDash.html' %}
{% block title %} Dashboard{% endblock title %}
{% block body %}


<div class="container-sm">
     <div class="container-xxl">
      <h1 class="display-1">Advance Detection & Diagnosis</h1>
  </div>
    <div class="row">

        <div class="col-4">
            <a href="#">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-mdb-ripple-color="light">
                  <div class="card" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);transition: 0.3s;border-radius: 10px;width: 100%;">
                     <img src="/static/dec5.png" class="rounded mx-auto d-block" alt="..." style="width: 15rem; box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                    <div class="card-body">
                      <h5 class="card-title">-- -- Click Me -- --</h5>
                    </div>
                      <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                </div>
            </a>

        <div class="container-sm" style="height:10px">

        </div>

            <a href="#">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-mdb-ripple-color="light">
                  <div class="card" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);transition: 0.3s;border-radius: 10px;width: 100%;">
                     <img src="/static/dec6.png" class="rounded mx-auto d-block" alt="..." style="width: 15rem; box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                    <div class="card-body">
                      <h5 class="card-title">-- -- Click Me -- --</h5>
                    </div>
                      <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                </div>
            </a>

        </div>

        <div class="col-4">
          <a href="#">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-mdb-ripple-color="light">
                  <div class="card" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);transition: 0.3s;border-radius: 10px;width: 100%;">
                     <img src="/static/dec7.png" class="rounded mx-auto d-block" alt="..." style="width: 15rem; box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                    <div class="card-body">
                      <h5 class="card-title">-- -- Click Me -- --</h5>
                    </div>
                      <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                        </a>
                    </div>
                </div>
            </a>

            <div class="container-sm" style="height:10px"></div>

            <a href="#">
                <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-mdb-ripple-color="light">
                  <div class="card" style = "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);transition: 0.3s;border-radius: 10px;width: 100%;">
                     <img src="/static/dec8.png" class="rounded mx-auto d-block" alt="..." style="width: 15rem; box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                    <div class="card-body">
                      <h5 class="card-title">-- -- Click Me -- --</h5>
                    </div>
                      <a href="#!">
                    <div class="mask" style="background-color: rgba(251, 251, 251,0.2)"></div>
                        </a>
                    </div>
                </div>
            </a>
            </div>
         <div class="col align-items-end" style="background-color:rgb(186, 219, 243); box-shadow: 10px 18px 18px 6px rgba(0,0,0,.5);border-radius: 25px;">
            <h1 class="display-4" style="text-align: center;">Leveraging the Power of AI</h1>
             <h1 class="display-6" style="text-align: center;">Due to limited medical resources, causing a delay in diagnosis, we are using Machine Learning algorithms to detect and diagnose diseases based on lab reports.</h1>
        </div>
      </div>
        </div>


</div>

</div>
{% endblock body %}
