{% extends 'base.html' %}
{% block title %}login{% endblock title %}
{% block body %}

<div class="container-xl">

    <div class="row align-items-start">
         <div class="row">
    <div class="col-8" >
        <h1 class="display-1">UHDN Doctor Side.</h1>
        <div class="container-8">
              <div class="row g-2">
                <div class="col-6">
                  <a href="patient_history">
              <div class="p-3 border bg-light">
                   <img src="/static/dec10.png" class="rounded mx-auto d-block" alt="..." style="width: 13rem;box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                </div>
              </a>
            </div>
                
                   <div class="col-6">
                    <a href="uploadP">
                <div class="p-3 border bg-light">
                     <img src="/static/dec11.png" class="rounded mx-auto d-block" alt="..." style="width: 13rem;box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                  </div>
                </a>
              </div>
                
                   <div class="col-4">
               <div class="p-3 border bg-light">
                     <img src="/static/dec12.png" class="rounded mx-auto d-block" alt="..." style="width: 13rem;box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                  </div>
                </div>
              <div class="col-4">
                <div class="p-3 border bg-light">
                     <img src="/static/dec13.png" class="rounded mx-auto d-block" alt="..." style="width: 13rem;box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                  </div>
              </div>
                  <div class="col-4">
                <div class="p-3 border bg-light">
                     <img src="/static/dec14.png" class="rounded mx-auto d-block" alt="..." style="width: 13rem;box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5)">
                  </div>
              </div>
          </div>
        </div>
    </div>

<div class="col align-items-end" style="background-color:rgb(186, 219, 243); box-shadow: 10px 18px 18px 6px rgba(0,0,0,.5);border-radius: 25px;">
            <h1 class="display-4" >Lets Get Started...</h1>
             <h1 class="display-6" style="text-align: right;">Monitor health status to identify community health problems.</h1>
             <h1 class="display-6" style="text-align: left;">Diagnose and investigate health problems and hazards in the community.</h1>
             <h1 class="display-6" style="text-align: right;">Inform, educate, and empower people about health issues.</h1>
             <h1 class="display-6" style="text-align: left;">Seamless patient transfer from one hospital to another.</h1>
        </div>
      </div>

    </div>
</div>
</div>

{% endblock body %}